.adminHeader{
    position: absolute;
    width: 100%;
    top: 20px;

}

.adminHeader__menu{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.adminHeader__menu__links{
    font-size: 1.5rem;
    align-self: center;
    padding: 10px;
}
